{% extends "home/base.html" %}

{% block titulo %}Registrarse{% endblock %}

{% block body %}
<form action="{% url 'registro' %}" method="post">
    <fieldset class="uk-fieldset">
        <legend class="uk-legend">Registrarse</legend>

        {% csrf_token %}
        {% for campo in form %}
            <div class="uk-margin">
                <label for="{{campo.auto_id}}" class="uk-form-label">{{campo.label}}</label>
                {{campo}}
            </div>
        {% endfor %}
    </fieldset>
    <button type="submit" class="uk-button uk-button-success">Registrarse</button>
</form>
{% endblock %}